<div id="question-tile">
  <p>Author: {{question.author}}</p>
  <p>Question: {{#link-to 'question' question.id}}{{question.content}} {{/link-to}}</p>
  <!-- <p>Notes: {{question.note}}</p> -->
  <!-- {{update-question question=question update="update"}} -->
  <hr>
</div>
