<div class="question-detail">
  <!-- <p>Author: {{question.author}}</p> -->
  <h4>{{question.content}}?</h4>
  <p>Notes: {{question.note}}</p>
  <!-- <button {{action 'delete' question}}>Delete Question</button> -->
</div>
