<div class="question-detail">
  <!-- <p>Author: {{question.author}}</p> -->
  <p>Question: {{question.content}}</p>
  <p>Notes: {{question.note}}</p>

  <h3>Answers:</h3>

  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</div>
