@import url(https://fonts.googleapis.com/css?family=Rubik);

body {
  background-color: #048BA8;
  font-family: Rubik, sans-serif;
  color: white;
}

.jumbotron {
  background-image: url("img/thinking.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.link-color {
  color: #ACFCD9;
}

#question-header, #detail-header, #save-answer {
  margin-bottom: 25px;
}

#new-question, #edit-question {
  margin-top: 20px;
}

.buttons {
  margin-top: 35px;
  margin-bottom: 35px;
}

#answer-button {
  margin-top: 15px;
  margin-bottom: 25px;
}

.favs-display {
  margin-top: 50px;
}
