body {
  background-color: #7DACC1;
  font-family: Courier, monospace;;
}

.jumbotron {
  background-image: url("img/thinking.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #161925;
  color: white;
}

.link-color {
  color: white;
}
