  <header class= "jumbotron text-center">
    <h1>Q & A</h1>
    <p>{{#link-to 'index' class='link-color'}}Home{{/link-to}}</p>
  </header>
  <div class= "container">
    {{outlet}}
  <!-- <hr>
  <footer>
    {{#link-to 'index'}}Home{{/link-to}}
  </footer> -->
  </div>
