<h3>Questions</h3>

<div class="question">
  {{new-question saveQuestion="saveQuestion"}}

  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</div>
<!--
<div class="index-answer-model">
  {{#each model.answers as |answer|}}
    <p>{{answer.name}}</p>
    <p>{{answer.body}}</p>
  {{/each}}
</div> -->
