<h3 class="text-center">Questions here</h3>

{{new-question saveQuestion="saveQuestion"}}

<div class="index">
  {{#each model as |question|}}
    {{question-tile question=question}}
  {{/each}}
</div>

<!-- update="update" destroyQuestion="destroyQuestion" -->
