<div class="row text-center">
  <div class="col-sm-4 col-sm-offset-1">
    <h3 id="detail-header">{{model.author}} wants to know...</h3>
    {{question-detail question=model destroyQuestion="destroyQuestion"}}
    {{new-answer saveAnswer="saveAnswer" question=model}}
  </div>
  <div class="col-sm-4 col-sm-offset-2" id="edit-question">
    {{update-question question=model update="update"}}
  </div>
</div>
