<h3>More information about {{model.author}}'s question: {{model.content}}</h3>

{{question-detail question=model destroyQuestion="destroyQuestion"}}

{{update-question question=model update="question"}}
